<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519269110715-ui9qtt0bs4pksohemo0eje4q7ottbc68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519269110715-ui9qtt0bs4pksohemo0eje4q7ottbc68</string>
	<key>API_KEY</key>
	<string>AIzaSyB2bVRhpcYf4jsWP4XZEhB2ZeU3atW_oWY</string>
	<key>GCM_SENDER_ID</key>
	<string>519269110715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>comp4511-dfe87</string>
	<key>STORAGE_BUCKET</key>
	<string>comp4511-dfe87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519269110715:ios:53b4324e7fc499846faa9e</string>
	<key>DATABASE_URL</key>
	<string>https://comp4511-dfe87.firebaseio.com</string>
</dict>
</plist>